@media screen and (max-width: 1280px){
    .portfoliogrid{
        grid-template-columns: 45% 45%;
    }
}

@media screen and (max-width: 800px){
    .portfoliogrid{
        grid-template-columns: 95%;
        gap: 1%;
    }
}
